.appHeader {
  height: 42px;
  color: var(--header-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--app-padding);
  -webkit-app-region: drag;
  user-select: none;
  font-size: 17px;

  svg {
    cursor: pointer;

    rect, path {
      fill: var(--header-icon-color);
    }

    &:nth-child(2) {
      margin: 0 1.18em;
    }
  }

  .back {
    width: 77.094px;
    display: flex;
    justify-content: start;
    align-items: start;
    -webkit-app-region: no-drag;
  }

  .title {
    font-size: 1em;
    font-family: 'AppUI', serif;
    font-weight: bold;
  }

  .controls {
    -webkit-app-region: no-drag;
  }
}
