.themes {
  --app-padding: 20px;
  --block-border-radius: 17px;

  &.dark {
    --background: #1F2124;


    // Header theme
    --header-font-color: white;
    --header-icon-color: #7B7D80;


    // Note
    --note-background: #383838;
    --note-font-color: white;
    --note-icon-color: gray;
    --note-icon-hover-color: white;


    // Hints
    --hint-background-dark: black;
    --hint-font-color-dark: white;
    --hint-background-light: white;
    --hint-font-color-light: black;


    // Settings page
    --sets-font-color: white;
    --sets-font-non-active-color: gray;
    --sets-section-border: var(--header-icon-color);


    // Patch notes page
    --patch-show-more-color: var(--header-icon-color);
    --patch-show-more-on-hover-color: #959696;
    --patch-show-more-on-click-color: white;


    // Footer theme
    --footer-background: #17181B;
    --footer-icon-color: var(--header-icon-color);
    --footer-on-icon-hover-background-color: #2C2D33;
    --footer-on-icon-hover-icon-color: var(--footer-icon-color);
  }
}
