@import "./src/renderer/assets/styles/layouts";

.note {
  padding: 0 var(--app-padding);
  font-size: 17px;
  cursor: default;
  margin-bottom: var(--app-padding);

  .content {
    background: var(--note-background);
    padding: var(--app-padding);
    min-height: 68px;
    font-size: 1em;
    border-radius: var(--block-border-radius);
    color: var(--note-font-color);
    display: flex;

    .text {
      width: 80%;

      h3 {
        font-size: 1.15em;
        margin-bottom: .5em;
      }
    }

    .controls {
      min-height: 68px;
      width: 20%;
      user-select: none;
      @extend %flexCenter;

      svg {
        &:hover {
          &.trash {
            path.withFill {
              fill: var(--note-icon-hover-color);
            }

            path.withStroke {
              stroke: var(--note-icon-hover-color);
            }
          }
        }

        &.trash {
          $transition: .15s ease;

          path.withFill {
            transition: $transition;
            fill: var(--note-icon-color);
          }

          path.withStroke {
            transition: $transition;
            stroke: var(--note-icon-color);
          }
        }
      }
    }
  }
}
