@import "./src/renderer/assets/styles/layouts";

.note {
  padding: 0 var(--app-padding);
  font-size: 17px;
  cursor: default;

  .content {
    background: var(--note-background);
    padding: var(--app-padding);
    min-height: 68px;
    font-size: 1em;
    border-radius: 1em;
    color: var(--note-font-color);
    display: flex;

    .text {
      width: 80%;

      h3 {
        font-size: 1.15em;
        margin-bottom: .5em;
      }
    }

    .controls {
      height: 100%;
      width: 20%;
      border: 2px solid red;
      user-select: none;
      @extend %flexCenter;
    }
  }
}
