@import "@styles/layouts.scss";

.patch {
  padding: 0 var(--app-padding);
  font-size: 17px;
  cursor: default;
  margin-bottom: var(--app-padding);

  .content {
    border-radius: 1em;
    background: var(--note-background);
    color: var(--note-font-color);
    padding: var(--app-padding);

    h3 {
      font-size: 1.15em;
      margin-bottom: .5em;
    }

    p, ul {
      line-height: 1.25em;
    }

    p {
      font-size: 1em;
    }

    ul {
      li {
        margin-left: 2em;
      }
    }
  }
}
