.content {
  height: 68px;
  padding: var(--app-padding);
  color: var(--sets-font-color);
  font-size: 17px;

  section {
    $transition: .15s ease;
    border-bottom: 1px solid var(--sets-section-border);
    padding: .75em 0;
    user-select: none;

    &:last-of-type {
      border-bottom: none;
    }

    h2 {
      font-size: 1.25em;
      user-select: none;
      margin-bottom: .5em;

      &.hasLink {
        cursor: pointer;
        margin-bottom: 0;

        &:hover {
          svg {
            transform: translateX(25%) rotate(.5turn);
          }

          svg rect {
            fill: var(--sets-font-color);
          }
        }
      }

      svg {
        transform: rotate(.5turn);
        margin-left: .2em;
        transition: $transition;

        rect {
          transition: inherit;
          fill: var(--sets-font-non-active-color);
        }
      }
    }

    .lang {
      user-select: none;
      cursor: pointer;
      font-size: 1em;
      font-weight: 400;
      transition: $transition;

      &.nonActive {
        color: var(--sets-font-non-active-color);
      }

      &.active {
        color: var(--sets-font-color);
      }
    }
  }
}
