@import "./src/renderer/assets/styles/layouts";

.hint {
  --hintMargin: 6px;

  pointer-events: none;
  position: absolute;
  z-index: 10000;
  width: 100%;
  @extend %flexCenter;
  user-select: none;

  .content {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    background: var(--hint-background);
    position: relative;

    .iconPlaceholder {
      position: absolute;
      content: "";
      @extend %flexCenter;

      .icon {
        aspect-ratio: 2 / 1;
        background: var(--hint-background);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        transform: translateY(1px);
      }
    }
  }

  &.vAbove {
    bottom: calc(100% + var(--hintMargin));
  }

  &.vCenter {
    // height: 100%;
  }

  &.vUnder {
    top: calc(100% + var(--hintMargin));
  }

  &.hLeft {
    justify-content: end;
    transform: translateX(calc(-100% - var(--hintMargin)));
  }

  &.hCenter {
    // transform: translateX(-25%);
  }

  &.hRight {
    justify-content: start;
    transform: translateX(calc(100% + var(--hintMargin)));
  }


  // Triangle icon
  &.hCenter.vUnder {
    .iconPlaceholder {
      bottom: 100%;
      width: 100%;
      left: 0;

      .icon {
        height: var(--hintMargin);
      }
    }
  }

  &.hCenter.vAbove {
    .iconPlaceholder {
      top: 100%;
      width: 100%;
      left: 0;

      .icon {
        height: var(--hintMargin);
        clip-path: polygon(100% 0, 0 0, 50% 100%);
        transform: translateY(0);
      }
    }
  }

  &.hLeft.vCenter {
    .iconPlaceholder {
      left: 100%;
      height: 100%;
      width: var(--hintMargin);
      top: 0;

      .icon {
        width: var(--hintMargin);
        aspect-ratio: 1 / 2;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        transform: translateY(0);
      }
    }
  }

  &.hRight.vCenter {
    .iconPlaceholder {
      right: 100%;
      height: 100%;
      width: var(--hintMargin);
      top: 0;

      .icon {
        width: var(--hintMargin);
        aspect-ratio: 1 / 2;
        clip-path: polygon(100% 100%, 100% 0, 0 50%);
        transform: translateY(0);
      }
    }
  }
}
